@{
    ViewData["Title"] = "Home Page";
}


<div class="centred">
    <h2>Want to try Tesseract OCR...</h2>
    <p>...but don't want to download and install it?</p>
    <br />
    <br />
    <div class="formContainer">
        <h4>Upload an image to OCR with Tesseract 4.0</h4>
        <form asp-controller="Home" asp-action="Ocr" method="post" enctype="multipart/form-data" id="form">
            <input id="file" type="file" name="file" accept="image/*" style="display:inline"/>
            <h4 id="uploading-message" hidden>uploading ...</h4>
        </form>
    </div>
    <br />
    <br />

    <h4>Or, choose one of these test images</h4>
    <div id="sample-images">
        <a asp-controller="Home" asp-action="Ocr" asp-route-id="1">
            <img src="~/images/OcrSamples/Ada_newspaper.jpg" />
        </a>
        <p>Newspaper scan</p>
        <a asp-controller="Home" asp-action="Ocr" asp-route-id="2">
            <img src="~/images/OcrSamples/Font_test.png" />
        </a>
        <p>Font test</p>
        <a asp-controller="Home" asp-action="Ocr" asp-route-id="3">
            <img src="~/images/OcrSamples/Financial_statement.png" />
        </a>
        <p>Financial document. I.e. Not prose. Text not structured in sentances and paragraphs.</p>
    </div>
    <br/>
    <div>
        <h3>Links and other Tesseract projects</h3>
        <ul>
            <li><a href="https://github.com/tesseract-ocr">Tesseract on GitHub</a></li>
            <li><a href="https://github.com/tvn-cosine/tesseract.net">Tesseract .Net wrapper. Available as a Nuget package</a></li>
            <li><a href="https://tesseract.projectnaptha.com/">JavaScript port of Tesseract</a></li>
            <li><a href="https://github.com/GNOME/ocrfeeder">OCRFeeder. A Linux GUI application using the Tesseract OCR engine</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Tesseract_(software)">Tesseract Wikipedia page</a></li>
        </ul>
    </div>

</div>



<script>
    document.getElementById("file").onchange = function () {
        document.getElementById("uploading-message").hidden = false;
        document.getElementById("form").submit();
    };
</script>

